.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.sidenav-container {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.mat-sidenav {
  height: 100%;
}
