@use '@angular/material' as mat;
@import './base.scss';

$deep-purple-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

body {
  @include mat.all-component-themes($deep-purple-dark-theme);
}
